<!DOCTYPE html>
<html lang="fr">
<head>
    <title>Auth</title>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">

</head>

<!-- 3. Display the application -->
<body>
    <form method="post">
      <fieldset>
        <br><br>
        <label for="Username">Username: </label>
        <input type="text" value="" name="Username"/><br><br>
        <label for="Password">Password: </label>
        <input type="password" value="" name="Password"/><br><br>
        <input type="submit" value="Valider" class="submit" />
      </fieldset>
    </form>
</body>
</html>