h1 Knockout

p
  | Hello from
  strong(data-bind='text: language') todo
  |             and
  strong(data-bind='text: framework') todo
  | !
p
  | Language:
  input(data-bind='value: language')
p
  | Framework:
  input(data-bind='value: framework')
